.mainBlock{
    height: 100vh;
    background-color: #000;
}

.greetingText{
    padding: 20px 0;
    z-index: 2;
    color: #fff
}

.greetingText h1{
    margin: -10px 0 -10px -2px;
    font-size: 48px;
}

.photo{
    z-index: 2;
    backface-visibility: hidden;
    position: relative;
    top: 0;
    left: 0;

}

.myPhoto{
    z-index: 2;
    transition: transform .1s ;
    transform-style: preserve-3d;
    display: block;
    max-width: 300px ;
    height: auto;
    padding-right: 50px;
}
