.mainBlock{
    height: 100vh;
    background-color: #ffd4f0;
}

.greetingText{
    width: 300px;
    background-color: azure;
}

.photo{
    position: relative;
    display: block;
    top: 0;
    left: 0;

}

.myPhoto{
    transition: transform .1s ;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    display: block;
    max-width: 300px ;
    height: auto;
}