.mainBlock{
    height: 100vh;
    background-color: #ffd4f0;
}

.greetingText{
    z-index: 2;
    width: 300px;
    color: #fff
}

.photo{
    z-index: 2;
    backface-visibility: hidden;
    position: relative;
    top: 0;
    left: 0;

}

.myPhoto{
    z-index: 2;
    transition: transform .1s ;
    transform-style: preserve-3d;
    display: block;
    max-width: 300px ;
    height: auto;
    margin-right: 80px;
}
