.card{
    color: #ffffff;
    position: relative;
    cursor: pointer;
    display: flex;
    width: 500px;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0,0,0,0.8);
    margin-bottom: 20px;
}

.title{
    padding: 20px;
    text-transform: uppercase;
    border-bottom: 1px solid #ffffff;
}

.description{
    padding: 10px;
}

.toggleCart{

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(24, 32, 69, 0.7);
}
.workImg{
    display: block;
    width: 100%;
    height: auto;
}
.btnWork{
    display: block;
    padding: 15px 30px;
    text-align: center;
    text-transform: uppercase;
    color: #4e93e6;
    text-decoration: none;
    border: 3px solid #4e93e6;
    font-weight: bold;
    transition: all .3s;
}

.btnWork:hover{
    color: #ffffff;
    background-color: #4e93e6;
}

.block_btn{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}